*, ::before, ::after {
    box-sizing: border-box;
    font-family: 'gotham rounded', sans-serif;
}

:root {
    --bg-color: #cfd8dc;
    --bg-wrong: #aa0411;
    --bg-correct: #158e00;
    --primary: #3d5ded;
}
body{ 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center ;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: var(--bg-color);
}

.container {
    box-shadow: 0 0 10px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
}
#question-container {
    padding: 30px;
    border-bottom: 2px solid #e1e1e1;
}
#question, #total{
    
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
}
.title {
    text-align: center;
    font-size: large;
    font-weight: 400;    
    padding: 20px;
    color: var(--primary);
    /* margin-bottom: 30rem; */
}
small {
    font-size: 14px;    
}
#score {
    color: #616161;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.btn-grid{
    display: grid;
    grid-template: repeat(1, auto);
    gap: 10px;
}
.btn {
    text-align: left;
    border-radius: 20px;
    background-color: #ededed;
    box-shadow: none;
    padding: 10px;
    font-size: 20px;
    color: #7c7977;
    border-style: none;
}
.btn:focus {
    outline: none;
}
.btn-grid .btn {
    padding-left: 20px;
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}
.btn-grid .btn:hover {
    border:3px solid var(--bg-color);
}
.btn.correct {
    background-color: var(--bg-correct);
    color: #fff;
}
.btn.wrong{
    background-color: var(--bg-wrong);
    color: #fff;
}
.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}
.start-btn:hover, .next-btn:hover{
    background-color: var(--bg-color);
    color: #000000;box-shadow: 0 0 8px  ;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.hide {
    display: none;
}